package list

templ Index() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>List</title>
			<script src="/assets/js/htmx.min.js"></script>
		</head>
		<body>
            <h1 class="title">My travel list</h1>
            <ul>
                <li>Europe roadtrip</li>
                <li>Asia</li>
                <li>Northern Europe survival trip</li>
            </ul>
		</body>
	</html>
}