package layout

templ Layout(contents templ.Component) {
	<html class="h-dvh">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Travel Lists</title>
			<script src="/web/assets/dist/index.min.js"></script>
			<link href="/web/assets/dist/index.min.css" rel="stylesheet"/>
		</head>
		<body hx-boost="true" class="relative w-full h-dvh">
			@contents
		</body>
	</html>
}
