package list

import "github.com/jordyvanvorselen/travel-lists/internal/domain"

templ Show(list domain.List) {
	<section class="w-screen h-screen flex flex-column justify-center items-center">
		<h1>Hello { list.Name }</h1>
	</section>
}
